.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.eslintrc.json
.gitignore
.npmrc
.yarnrc
.vscode-test.mjs
.vscodeignore
esbuild.js
vsc-extension-quickstart.md
pnpm-lock.yaml
tsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
